body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;}

h1 {
    font-size: 42px;
    text-align: center;
}

h2 {
    font-size: 28px;
    text-align: center;
}

.wasPressed {
    text-align: center;
}
.header {
    text-align: center;
    background-color: aliceblue;
    border-radius: 20px;
    
 }
.keyPressInfo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    margin-top: 100px;
    background-color: cadetblue;
    border-radius: 14px; color:black; border-top-style: solid;
}